/dts-v1/;

/*
 * device tree for Xray Spex (MR44)
 */

#include "qcom-ipq807x-axe2.dtsi"
#include "qcom-ipq807x-ac-cpu.dtsi"

/ {
	model = "Meraki MR44";
	compatible = "qcom,ipq807x-ac02", "qcom,ipq807x";
};

&soc {
	qca,scm_restart_reason {
		reg = <0xBFF00000 1024>;
		reg-names = "ramoops";
	};

	mdio@90000 {
		pinctrl-0 = <&mdio_pins>;
		pinctrl-names = "default";
		phy-reset-gpio = <&tlmm 44 1>;
		compatible = "qcom,ipq40xx-mdio", "qcom,qca-mdio";
		phy0: ethernet-phy@0 {
			reg = <24>;
		};
	};

	ess-switch@3a000000 {
		/*pinctrl-0 = <&uniphy_pins>;*/
		pinctrl-names = "default";
		switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
		switch_lan_bmp = <0x2>; /* lan port bitmap */
		switch_wan_bmp = <0x20>; /* wan port bitmap */
		switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
		switch_mac_mode1 = <0xff>; /* mac mode for uniphy instance1*/
		switch_mac_mode2 = <0xff>; /* mac mode for uniphy instance2*/
		bm_tick_mode = <0>; /* bm tick mode */
		tm_tick_mode = <0>; /* tm tick mode */
		qcom,port_phyinfo {
			port@4 {
				port_id = <5>;
				phy_address = <24>;
				port_mac_sel = "QGMAC_PORT";
			};
		};
  };

	dp1 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <5>;
		reg = <0x3a001800 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
		qcom,link-poll = <1>;
		qcom,phy-mdio-addr = <24>;
		phy-mode = "sgmii";
	};
};

&i2c_0 {
	current_mon: ina2xx@40 {
		shunt-resistor = <280000>;
	};
};

&tlmm {
	pinctrl-0 = <&ble_pins>;
	pinctrl-names = "default";

	ble_pins: ble_pins {
		mux_0 {
			pins = "gpio16";
			function = "gpio";
			drive-strength = <0>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio65";
			function = "gpio";
			drive-strength = <0>;
			bias-disable;
		};
		mux_2 {
			pins = "gpio21";
			function = "gpio";
			drive-strength = <0>;
			bias-disable;
		};
	};
};